In [1]:
#Importing necessary libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#Importing selenium webdriver
from selenium import webdriver

#Importing required Exceptions which need to be handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

from selenium.webdriver.common.by import By

#Importing warnings
import warnings
warnings.filterwarnings("ignore")

#Q1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = 
https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
A) Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [2]:
driver = webdriver.Edge()

In [3]:
#Opening the required page on automated browser.
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
#creating empty lists
rank=[]
name=[]
artist=[]
upload_dt=[]
views=[]

In [5]:
#A)scraping ranks 
rnk=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in rnk[0:30]:
    rank.append(i.text)

#B)scraping names
nam=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in nam[0:30]:
    name.append(i.text)
    
#C)scraping artists 
art=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in art[0:30]:
    artist.append(i.text)
    
#D)scraping upload date 
dt=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in dt[0:30]:
    upload_dt.append(i.text)
    
#E)scraping views 
view=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in view[0:30]:
    views.append(i.text)

In [6]:
print(len(rank),len(name),len(artist),len(upload_dt),len(views))

30 30 30 30 30

In [8]:
#creating dataframe
df1=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload_Date':upload_dt,'Views(Billions)':views})
df1

,Rank,Name,Artist,Upload_Date,Views(Billions)
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.29
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.25
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.78
3,4.,"""Bath Song""[17]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.38
4,5.,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.07
5,6.,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",6.01
6,7.,"""Wheels on the Bus""[26]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.53
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.47
8,9.,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",5.02
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV,"February 27, 2018",4.96
10,11.,"""Gangnam Style""[30]",officialpsy,"July 15, 2012",4.88
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,"January 31, 2012",4.56
12,13.,"""Dame Tu Cosita""[36]",Ultra Records,"April 5, 2018",4.43
13,14.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",4.04
14,15.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.93
15,16.,"""Counting Stars""[39]",OneRepublic,"May 31, 2013",3.86
16,17.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.86
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.76
18,19.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.71
19,20.,"""Sorry""[43]",Justin Bieber,"October 22, 2015",3.70
20,21.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.67
21,22.,"""Thinking Out Loud""[45]",Ed Sheeran,"October 7, 2014",3.65
22,23.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.58
23,24.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.54
24,25.,"""Perfect""[48]",Ed Sheeran,"November 9, 2017",3.53
25,26.,"""Faded""[49]",Alan Walker,"December 3, 2015",3.51
26,27.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.50
27,28.,"""Girls Like You""[51]",Maroon 5,"May 31, 2018",3.47
28,29.,"""Lean On""[52]",Major Lazer Official,"March 22, 2015",3.45
29,30.,"""Bailando""[53]",Enrique Iglesias,"April 11, 2014",3.45

#Q2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1 ODI) 
B) Series 
C) Place 
D) Date 
E) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [9]:
driver = webdriver.Edge()

In [10]:
#Opening the required page on automated browser.
driver.get('https://www.bcci.tv/')

In [11]:
#clicking on menu
menu=driver.find_element(By.XPATH,"/html/body/nav/div[1]/button")
menu.click()

In [12]:
#clicking on international fixture
international=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
international.click()

In [13]:
#creating empty lists
title_match=[]
series=[]
place=[]
date=[]
time=[]

In [14]:
#A)scraping match title 
title=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in title:
    title_match.append(i.text.replace("-",""))
    
#B)scraping series
ser_tag=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in ser_tag:
    series.append(i.text)
    
#D)scraping date
date_tag=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tag:
    date.append(i.text)
    
#E)scraping time
time_tag=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tag:
    time.append(i.text)

In [15]:
print(len(title_match),len(series),len(date),len(time))

8 8 8 8

In [30]:
#scraping stadium in place
stadium=[]
stdm_tag=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in stdm_tag:
    stadium.append(i.text)
    
#scraping city in place
city=[]
city_tag=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in city_tag:
    city.append(i.text)

In [31]:
print(len(stadium),len(city))

8 8

In [32]:
#creating dataframe
df2=pd.DataFrame({'Match_Title':title_match,'Series':series,'Date':date,'Time':time,'Place_stadium':stadium,'Place_city':city})
df2

,Match_Title,Series,Date,Time,Place_stadium,Place_city
0,5th ODI,ASIA CUP 2023,15 SEP 2023,3:00 PM IST,"R Premadasa International Stadium,",Colombo
1,Final,ASIA CUP 2023,17 SEP 2023,3:00 PM IST,"R Premadasa International Stadium,",Colombo
2,1st T20I,19TH ASIAN GAMES 2023,21 SEP 2023,6:30 AM IST,"Pingfeng Cricket Field,",Hangzhou
3,1st ODI,AUSTRALIA TOUR OF INDIA 2023-24,22 SEP 2023,1:30 PM IST,"Punjab Cricket Association IS Bindra Stadium,",Mohali
4,2nd ODI,AUSTRALIA TOUR OF INDIA 2023-24,24 SEP 2023,1:30 PM IST,"Holkar Cricket Stadium,",Indore
5,3rd ODI,AUSTRALIA TOUR OF INDIA 2023-24,27 SEP 2023,1:30 PM IST,"Saurashtra Cricket Association Stadium,",Rajkot
6,1st ODI,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,30 SEP 2023,2:00 PM IST,"Barsapara Cricket Stadium,",Guwahati
7,1st T20I,19TH ASIAN GAMES 2023,3 OCT 2023,6:30 AM IST,"Pingfeng Cricket Field,",Hangzhou

#Q3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A)Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [15]:
driver = webdriver.Edge()

In [16]:
#Opening the required page on automated browser.
driver.get('http://statisticstimes.com/')

In [19]:
#clicking on economy
economy=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
economy.click()

In [20]:
#clicking on india in economy
ind_economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
ind_economy.click()

In [21]:
#clicking on GDP of Indian states
state_gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
state_gdp.click()

In [22]:
#creating empty lists
rank=[]
state=[]
gsdp_1819=[]
gsdp_1920=[]
share=[]
gdp=[]

In [23]:
#A)scraping rank 
try:
    rnk=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
    for i in rnk[0:33]:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')

#B)scraping state
try:
    stat=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
    for i in stat[0:33]:
        state.append(i.text)
except NoSuchElementException:
    state.append('-')
    
#C)scraping GSDP(18-19)- at current prices 
try:
    gsdp1=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
    for i in gsdp1[0:33]:
        gsdp_1819.append(i.text)
except NoSuchElementException:
    gsdp_1819.append('-')
    
#D)scraping GSDP(19-20)- at current prices 
try:
    gsdp2=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
    for i in gsdp2[0:33]:
        gsdp_1920.append(i.text)
except NoSuchElementException:
    gsdp_1920.append('-')
    
#E)scraping Share(18-19) 
try:
    shr=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
    for i in shr[0:33]:
        share.append(i.text)
except NoSuchElementException:
    share.append('-')
    
#F)scraping GDP($ billion) 
try:
    gdp_tag=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
    for i in gdp_tag[0:33]:
        gdp.append(i.text)
except NoSuchElementException:
    gdp.append('-')

In [24]:
print(len(rank),len(state),len(gsdp_1819),len(gsdp_1920),len(share),len(gdp))

33 33 33 33 33 33

In [25]:
#creating dataframe
df3=pd.DataFrame({'Rank':rank,'State':state,'GSDP(18-19)_@cp':gsdp_1819,'GSDP(19-20)_@cp':gsdp_1920,'Share(18-19)':share,'GDP($billion)':gdp})
df3

,Rank,State,GSDP(18-19)_@cp,GSDP(19-20)_@cp,Share(18-19),GDP($billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

#Q4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used 
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [2]:
driver = webdriver.Edge()

In [3]:
#Opening the required page on automated browser.
driver.get('https://github.com/')

In [5]:
#clicking on explore
explore=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button")
explore.click()

In [8]:
#clicking on open_source
source_clk=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
source_clk.click()

In [9]:
#clicking on trending
trending=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
trending.click()

In [10]:
#creating empty lists
title=[]
descrip=[]
count=[]
language=[]

In [11]:
#A)scraping repository title 
try:
    titl=driver.find_elements(By.XPATH,'//a[@class="Link"]')
    for i in titl:
        title.append(i.text)
except NoSuchElementException :
    title.append('-')
        
#B)scraping repository description
try:
    desp=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in desp:
        descrip.append(i.text)
except NoSuchElementException :
    descrip.append('-')
    
#C)scraping contributors count
try:
    cont=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][2]')
    for i in cont:
        count.append(i.text)
except NoSuchElementException :
    count.append('-')
    
#D)scraping language used
try:
    lang=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]/span[2]')
    for i in lang:
        language.append(i.text)
except NoSuchElementException :
    language.append('-')

In [12]:
print(len(title),len(descrip),len(count),len(language))

25 24 25 23

In [14]:
#creating dataframe
df4=pd.DataFrame({'Repository_title':title[0:23],'Repository_description':descrip[0:23],'Contributors_count':count[0:23],'Language_used':language})
df4

,Repository_title,Repository_description,Contributors_count,Language_used
0,hyperdxio / hyperdx,"Resolve production issues, fast. An open sourc...",88,TypeScript
1,williamyang1991 / Rerender_A_Video,[SIGGRAPH Asia 2023] Rerender A Video: Zero-Sh...,85,Jupyter Notebook
2,NExT-GPT / NExT-GPT,Code and models for NExT-GPT: Any-to-Any Multi...,94,Python
3,makeplane / plane,"🔥 🔥 🔥 Open Source JIRA, Linear and Height Alte...",659,TypeScript
4,grafana / beyla,eBPF-based autoinstrumentation of HTTP and HTT...,28,C
5,CorentinJ / Real-Time-Voice-Cloning,Clone a voice in 5 seconds to generate arbitra...,"8,055",Python
6,mastodon / mastodon,"Your self-hosted, globally interconnected micr...","6,567",Ruby
7,AntonioErdeljac / next13-lms-platform,Self-hosted AI coding assistant,57,TypeScript
8,TabbyML / tabby,Deploy web apps anywhere.,340,TypeScript
9,basecamp / kamal,Godot Engine – Multi-platform 2D and 3D game e...,241,Ruby
10,godotengine / godot,The React Framework,"14,405",C++
11,vercel / next.js,"A list of SaaS, PaaS and IaaS offerings that h...","24,753",JavaScript
12,ripienaar / free-for-dev,An Open-source Framework for Autonomous Langua...,"8,106",HTML
13,aiwaves-cn / agents,Data set of top third party web domains with r...,148,Python
14,duckduckgo / tracker-radar,Elegant HTTP Networking in Swift,158,JavaScript
15,Alamofire / Alamofire,🐸💬 - a deep learning toolkit for Text-to-Speec...,"7,507",Swift
16,coqui-ai / TTS,[ICCV 2023] ProPainter: Improving Propagation ...,"2,147",Python
17,sczhou / ProPainter,Toy Gaussian Splatting visualization in Unity,69,Python
18,aras-p / UnityGaussianSplatting,「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Jav...,26,C#
19,Snailclimb / JavaGuide,"The paper list of the 86-page paper ""The Rise ...","44,828",Java
20,WooooDyy / LLM-Agent-Paper-List,A list of awesome beginners-friendly projects.,87,C++
21,MunGell / awesome-for-beginners,A modern formatting library,"6,568",Go
22,fmtlib / fmt,"Meshery, the cloud native manager","2,164",Python

#Q5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [11]:
driver = webdriver.Edge()

In [12]:
#Opening the required page on automated browser.
driver.get('https:/www.billboard.com/')

In [13]:
#clicking on explore
explore2=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button")
explore2.click()

In [14]:
#clicking on charts
chart=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a")
chart.click()

In [15]:
#clicking on hot 100-page
hot_100_page=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a")
hot_100_page.click()

In [16]:
#creating empty lists
sname=[]
artist=[]
rank_lw=[]
peak_rank=[]
weeks=[]

In [17]:
#A)scraping song names 
name=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//li/h3[1]')
for i in name:
    sname.append(i.text)

#B)scraping artist names
art=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')
for i in art:
    artist.append(i.text)
    
#C)scraping last week rank 
rank1=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
for i in rank1:
    rank_lw.append(i.text)
    
#D)scraping peak rank 
rank2=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
for i in rank2:
    peak_rank.append(i.text)
    
#E)scraping weeks 
week=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span')
for i in week:
    weeks.append(i.text)

In [18]:
print(len(sname),len(artist),len(rank_lw),len(peak_rank),len(weeks))

100 100 100 100 100

In [19]:
#creating dataframe
df5=pd.DataFrame({'Song_Name':sname,'Artist_Name':artist,'LastWeek_Rank':rank_lw,'Peak_rank':peak_rank,'Weeks_on_Board':weeks})
df5

,Song_Name,Artist_Name,LastWeek_Rank,Peak_rank,Weeks_on_Board
0,Vampire,Olivia Rodrigo,9,1,11
1,Paint The Town Red,Doja Cat,1,1,6
2,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,2,1,3
3,Fast Car,Luke Combs,3,2,25
4,Cruel Summer,Taylor Swift,4,3,19
...,...,...,...,...,...
95,Lagunas,Peso Pluma & Jasiel Nunez,-,77,9
96,Sittin' On Top Of The World,Burna Boy,86,80,3
97,Rubicon,Peso Pluma,95,63,11
98,TQM,Fuerza Regida,89,34,17
99,Amargura,Karol G,91,85,5

#Q6. Scrape the details of Highest selling novels. 
URL= https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre

In [20]:
driver = webdriver.Edge()

In [21]:
#Opening the required page on automated browser.
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [22]:
#creating empty lists
book=[]
author=[]
vsold=[]
publisher=[]
genre=[]

In [23]:
#A)scraping book names 
bnam=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in bnam:
    book.append(i.text)

#B)scraping author names
auth=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in auth:
    author.append(i.text)
    
#C)scraping volumes sold 
vol=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vol:
    vsold.append(i.text)
    
#D)scraping publisher 
publsh=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publsh:
    publisher.append(i.text)
    
#E)scraping genre 
genr=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genr:
    genre.append(i.text)

In [24]:
print(len(book),len(author),len(vsold),len(publisher),len(genre))

100 100 100 100 100

In [25]:
#creating dataframe
df6=pd.DataFrame({'Book_Name':book,'Author_Name':author,'Volume_sold':vsold,'Publisher':publisher,'Genre':genre})
df6

,Book_Name,Author_Name,Volume_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

#Q7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You 
have to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [6]:
driver = webdriver.Edge()

In [7]:
#Opening the required page on automated browser.
driver.get('https://www.imdb.com/list/ls095964455/')

In [8]:
#creating empty lists
name=[]
span_yr=[]
genre1=[]
runtime=[]
ratings=[]
votes=[]

In [9]:
#A)scraping series names 
snam=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in snam:
    name.append(i.text)

#B)scraping year span
year=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[2]')
for i in year:
    span_yr.append(i.text)
    
#C)scraping genre 
gen=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[5]')
for i in gen:
    genre1.append(i.text)
    
#D)scraping runtime 
rtime=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[3]')
for i in rtime:
    runtime.append(i.text)
    
#E)scraping ratings 
rat=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div[1]/div[1]/span[2]')
for i in rat:
    ratings.append(i.text)
    
#F)scraping votes 
vote=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
for i in vote:
    votes.append(i.text)

In [10]:
print(len(name),len(span_yr),len(genre1),len(runtime),len(ratings),len(votes))

100 100 100 100 100 100

In [11]:
#creating dataframe
df7=pd.DataFrame({'Series_Name':name,'Span_Year':span_yr,'Genre':genre1,'RunTime':runtime,'Ratings':ratings,'Votes':votes})
df7

,Series_Name,Span_Year,Genre,RunTime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,205,101"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,276,454"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,046,261"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"307,502"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"266,575"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,749"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,810"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,109"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,923"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"266,195"

#Q8.Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute 
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [50]:
driver = webdriver.Edge()

In [51]:
#Opening the required page on automated browser.
driver.get('https://archive.ics.uci.edu/')

In [52]:
#clicking on all dataset
dataset=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
dataset.click()

In [53]:
#clicking on expand
expand=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]")
expand.click()

In [54]:
#creating empty lists
dsname=[]
dtype=[]
task=[]
att_type=[]
instances=[]
no_att=[]
year=[]

In [55]:
#scraping dataset names from pages
start=0
end=9
for page in range(start,end):
    try:
        names=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
        for i in names:
            dsname.append(i.text)
        next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
        next_button.click()
        time.sleep(2)
    except NoSuchElementException :
        dsname.append('-')
    
#scraping datatypes from pages.
start=0
end=9
for page in range(start,end):
    try:
        types=driver.find_elements(By.XPATH,'//div[1]/div[2]/div/div[1]/span[@class="truncate"]')
        for i in types:
            dtype.append(i.text)
        next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
        next_button.click()
        time.sleep(2)
    except NoSuchElementException :
        dtype.append('-')
    
#scraping task from pages.
start=0
end=9
for page in range(start,end):
    try:
        tsk=driver.find_elements(By.XPATH,'//p[@class="truncate"]')
        for i in tsk:
            task.append(i.text)
        next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
        next_button.click()
        time.sleep(2)
    except NoSuchElementException :
        task.append('-')

#scraping attribute type from pages.
start=0
end=9
for page in range(start,end):
    try:
        att=driver.find_elements(By.XPATH,'//div[1]/div[2]/div/div[2]/span[@class="truncate"]')
        for i in att:
            att_type.append(i.text)
        next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
        next_button.click()
        time.sleep(2)
    except NoSuchElementException :
        att_type.append('-')
    
#scraping no. of instances from pages
start=0
end=9
for page in range(start,end):
    try:
        inst=driver.find_elements(By.XPATH,'//div[1]/div[2]/div/div[3]/span[@class="truncate"]')
        for i in inst:
            instances.append(i.text)
        next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
        next_button.click()
        time.sleep(2)
    except NoSuchElementException :
        instances.append('-')
    
#scraping no. of attribute from pages
start=0
end=9
for page in range(start,end):
    try:
        att=driver.find_elements(By.XPATH,'//div[1]/div[2]/div/div[4]/span[@class="truncate"]')
        for i in att:
            no_att.append(i.text)
        next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
        next_button.click()
        time.sleep(2)
    except NoSuchElementException :
        no_att.append('-')
    
#scraping year from pages
start=0
end=9
for page in range(start,end):
    try:
        yr=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]')
        for i in yr:
            year.append(i.text)
        next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
        next_button.click()
        time.sleep(2)
    except NoSuchElementException :
        year.append('-')

In [57]:
print(len(dsname),len(dtype),len(task),len(att_type),len(instances),len(no_att))

90 90 90 90 90 90

In [58]:
#creating dataframe
df8=pd.DataFrame({'Dataset_Name':dsname,'Data_type':dtype,'Task':task,'Attribute_type':att_type,'No_Of_Instances':instances,'No_of_Attribute':no_att})
df8

,Dataset_Name,Data_type,Task,Attribute_type,No_Of_Instances,No_of_Attribute
0,Iris,"Classification, Clustering",This hourly data set considers 6 main air poll...,"Multivariate, Time-Series",399 Instances,4 Features
1,Heart Disease,Classification,Accelerometer and transdermal alcohol content ...,Multivariate,288K Instances,49 Features
2,Adult,Classification,Contains weekly purchased quantities of 800 ov...,"Multivariate, Time-Series",329 Instances,12 Features
3,Dry Bean Dataset,Classification,Reviews on destinations in 10 categories menti...,"Multivariate, Text",24.02K Instances,2.4K Features
4,Diabetes,"Classification, Regression, Clustering","Bilateral (left, right) joint angle (ankle, kn...",Multivariate,422.94K Instances,5 Features
...,...,...,...,...,...,...
85,Musk (Version 1),,Prediction of the release year of a song from ...,Text,,
86,Haberman's Survival,Classification,This dataset represents ambient data collected...,"Multivariate, Time-Series",237 Instances,9 Features
87,Real estate valuation data set,,We modeled a simultaneous multi-round auction ...,Multivariate,151 Instances,5 Features
88,KDD Cup 1999 Data,Classification,There are three classes/diseases: Bacterial le...,"Multivariate, Sequential",5.46K Instances,24 Features
89,Servo,Regression,This data set contains five text collections i...,Tabular,20.52K Instances,1 Features