In [1]:
# Installing required libraries
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\rashm\appdata\roaming\python\python39\site-packages (4.11.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rashm\appdata\roaming\python\python39\site-packages (from selenium) (0.10.3)
Requirement already satisfied: trio~=0.17 in c:\users\rashm\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\rashm\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: outcome in c:\users\rashm\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\rashm\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rashm\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
# importing the required libraries
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [29]:
driver = webdriver.Edge()

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [30]:
#Opening the shine page on automated browser.
driver.get('https://www.shine.com/')

In [31]:
#Entering designation and Location as required in the Question.
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [32]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [33]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [37]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [41]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

#scraping job exprience from the given page
exp_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [42]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [44]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Project Coordinator (Data Analyst),Bangalore,futures and careers,2 to 4 Yrs
1,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
2,Hiring For Data Analyst,Bangalore\n+14,kavya staffing solutions,0 to 4 Yrs
3,Senior Data Analyst,Bangalore,ara resources private limited,2 to 5 Yrs
4,Data Analyst,Bangalore\n+9,ashutosh sabhashankar chaturvedi hi...,7 to 12 Yrs
5,Data Analyst Urgent Recruiment,Bangalore\n+14,divya interprises,0 to 4 Yrs
6,Apply Now a Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
7,Apply Now Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
8,Needed for Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
9,Urgently need a Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs

#Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [45]:
driver = webdriver.Edge()

In [46]:
#Opening the shine page on automated browser.
driver.get('https://www.shine.com/')

In [47]:
#Entering designation and Location as required in the Question.
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [48]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [49]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [51]:
job_title1=[]
job_location1=[]
company_name1=[]

In [52]:
#scraping job title from the given page
title_tags1=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags1[0:10]:
    title1=i.text
    job_title1.append(title1)
    
#scraping job location from the given page
location_tags1=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags1[0:10]:
    location1=i.text
    job_location1.append(location1)

#scraping company name from the given page
company_tags1=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags1[0:10]:
    company1=i.text
    company_name1.append(company1)

In [53]:
print(len(job_title1),len(job_location1),len(company_name1))

10 10 10

In [56]:
df1=pd.DataFrame({'Job_Title':job_title1,'Location':job_location1,'Company_name':company_name1})
df1

,Job_Title,Location,Company_name
0,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions
1,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions
2,Data Scientist,Bangalore,skyleaf consultants
3,Data Scientist Urgent Recruitment,Bangalore\n+14,divya interprises
4,Required for Data Scientist,Bangalore,deuglo infosystem private limited
5,Urgently need Data Scientist,Bangalore\n+8,deuglo infosystem private limited
6,Data scientist Bangalore,Bangalore,seven geomax consulting private lim...
7,Data Scientist,Bangalore,employberry consultants hiring for ...
8,Hiring For Data Scientist,Bangalore\n+15,niharika enterprises
9,Needed for the post Data Scientist,Bangalore\n+8,deuglo infosystem private limited

#Q3: In this question you have to scrape data using the filters available on the webpage 
 You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scrapeddata.

In [3]:
driver = webdriver.Edge()

In [4]:
#Opening the shine page on automated browser.
driver.get('https://www.shine.com/')

In [7]:
#Entering designation as required in the Question.
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [8]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [24]:
#applying location filter
filter_loc=driver.find_element(By.CLASS_NAME,"filter_filter_lists_items__wlFfo")
filter_loc.click()

In [26]:
#applying filter for delhi by checking box
filter_loc1=driver.find_element(By.CLASS_NAME,"filter_filter_option_label__v_iAW")
filter_loc1.click()
#the checkbox for delhi in location filter is not being checked by this.

#Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. ProductDescription
8. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses.

In [35]:
driver = webdriver.Edge()

In [36]:
#Opening the flipkart page on automated browser.
driver.get('https://www.flipkart.com/')

In [37]:
#Entering product to be searched as required in the Question.
product=driver.find_element(By.CLASS_NAME,"Pke_EE")
product.send_keys('sunglasses')

In [38]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [39]:
prod_brand=[]
prod_descrip=[]
prod_price=[]

In [57]:
#scraping brand from pages
start=0
end=2
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands:
        prod_brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click() 
    time.sleep(3)
    
#scraping description from pages
start=0
end=2
for page in range(start,end):
    description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description:
        prod_descrip.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
#scraping price from pages
start=0
end=2
for page in range(start,end):
    price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        prod_price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [62]:
brand1=prod_brand[0:100]
description1=prod_descrip[0:100]
price1=prod_price[0:100]

In [63]:
print(len(brand1),len(description1),len(price1))

100 100 100

In [64]:
df4=pd.DataFrame({'Product_Brand':brand1,'Product_Description':description1,'Price':price1})
df4

    Product_Brand                                Product_Description   Price
0    Singco India          UV Protection Rectangular Sunglasses (55)    ₹497
1     Eyewearlabs  Polarized, UV Protection Rectangular Sunglasse...  ₹1,059
2            SRPM             UV Protection Wayfarer Sunglasses (50)    ₹249
3          PIRASO           UV Protection Clubmaster Sunglasses (54)    ₹497
4       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹612
..            ...                                                ...     ...
95       Fastrack             UV Protection Wayfarer Sunglasses (50)    ₹392
96           IDEE   UV Protection Rectangular Sunglasses (Free Size)  ₹1,399
97  HK ENTERPRISE          Night Vision Retro Square Sunglasses (60)  ₹1,225
98      New Specs  Polarized, UV Protection Retro Square Sunglass...    ₹699
99           SRPM              Polarized Rectangular Sunglasses (54)    ₹199

[100 rows x 3 columns]

#Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [30]:
 driver = webdriver.Edge()

In [31]:
#Opening the required page on automated browser.
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART ')

In [ ]:
#The above link is showing "The page has been moved or deleted."

#Q6: Scrape data forfirst 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” inthe
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [13]:
driver = webdriver.Edge()

In [14]:
#Opening the flipkart page on automated browser.
driver.get('https://www.flipkart.com/')

In [17]:
#Entering product to be searched as required in the Question.
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [19]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [20]:
prod_brand1=[]
prod_descrip1=[]
prod_price1=[]

In [25]:
#scraping brand from pages
start=0
end=3
for page in range(start,end):
    brands1=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands1:
        prod_brand1.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
#scraping description from pages
start=0
end=3
for page in range(start,end):
    description1=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description1:
        prod_descrip1.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
#scraping price from pages
start=0
end=3
for page in range(start,end):
    price1=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price1:
        prod_price1.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [27]:
brand2=prod_brand1[0:100]
description2=prod_descrip1[0:100]
price2=prod_price1[0:100]

In [28]:
print(len(brand2),len(description2),len(price2))

100 100 100

In [29]:
df6=pd.DataFrame({'Product_Brand':brand2,'Product_Description':description2,'Price':price2})
df6

   Product_Brand                                Product_Description Price
0       Magnolia  Modern Trendy Sneakers boot Sneakers Sneakers ...  ₹449
1            SFR  Exclusive Affordable Collection of Trendy & St...  ₹349
2         BRUTON               Modern Trendy Shoes Sneakers For Men  ₹379
3       Nobelite                                   Sneakers For Men  ₹299
4           aadi  Synthetic Leather |Lightweight|Comfort|Summer|...  ₹398
..           ...                                                ...   ...
95          aadi                                   Sneakers For Men  ₹299
96         WROGN                           CLARKIN Sneakers For Men  ₹449
97      Magnolia                                   Sneakers For Men  ₹449
98    Free Kicks                                   Sneakers For Men  ₹599
99      Nobelite                                   Sneakers For Men  ₹299

[100 rows x 3 columns]

#Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [32]:
driver = webdriver.Edge()

In [33]:
#Opening the amazon page on automated browser.
driver.get('https://www.amazon.in/')

In [39]:
#Entering product to be searched as required in the Question.
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('laptop')

In [42]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [43]:
#applying filter CPU type:'intel core i7'
search_cpu=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[7]/ul[7]/span[12]/li/span/a/div/label/i")
search_cpu.click()

In [44]:
lap_title=[]
lap_rating=[]
lap_price=[]

In [45]:
#scraping laptop title from the given page
title_lap=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_lap[0:10]:
    lap_title.append(i.text)
    
#scraping rating from the given page
rating=driver.find_elements(By.XPATH,'//span[@class="a-size-base puis-normal-weight-text"]')
for i in rating[0:10]:
    lap_rating.append(i.text)

#scraping price from the given page
price=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price[0:10]:
    lap_price.append(i.text)

In [46]:
print(len(lap_title),len(lap_rating),len(lap_price))

10 10 10

In [47]:
#creating dataframe
df7=pd.DataFrame({'Laptop_title':lap_title,'Rating':lap_rating,'Price':lap_price})
df7

                                        Laptop_title Rating     Price
0  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...    4.5    70,990
1  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...    4.0    64,990
2  Dell Vostro 5630 13th Gen Laptop,Intel i7-1355...    4.6    89,990
3  ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...    3.3    89,990
4  Dell Inspiron 5430 13th Gen Laptop, Intel i7-1...    3.3    86,249
5  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...    4.3    52,990
6  Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...    3.6    62,990
7  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...    4.4    80,990
8  Dell Inspiron 5630 13th Gen Laptop, Intel Core...    2.9    89,990
9  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...    4.2  1,15,990

#Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [61]:
driver = webdriver.Edge()

In [62]:
#Opening the required page on automated browser.
driver.get('https://www.azquotes.com/')

In [63]:
#clicking on top Quotes
top_quote=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_quote.click()

In [51]:
quotes=[]
author=[]
quote_type=[]

In [64]:
#scraping quotes from pages
start=0
end=10
for page in range(start,end):
    quote=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote:
        quotes.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(3)
    
#scraping author names from pages
start=0
end=10
for page in range(start,end):
    author_name=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_name:
        author.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(3)
    
#scraping type of quotes from pages
start=0
end=10
for page in range(start,end):
    qtype=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in qtype:
        quote_type.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(3)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//li[@class="next"]"}
  (Session info: MicrosoftEdge=116.0.1938.62); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF7DA283D72+61490]
	Microsoft::Applications::Events::EventProperty::~EventProperty [0x00007FF7DA215FC2+740594]
	(No symbol) [0x00007FF7D9FEB8AE]
	(No symbol) [0x00007FF7DA0332F4]
	(No symbol) [0x00007FF7DA033405]
	(No symbol) [0x00007FF7DA06FCE7]
	(No symbol) [0x00007FF7DA05394F]
	(No symbol) [0x00007FF7DA027021]
	(No symbol) [0x00007FF7DA06CE21]
	(No symbol) [0x00007FF7DA0536E3]
	(No symbol) [0x00007FF7DA025EAA]
	(No symbol) [0x00007FF7DA02518B]
	(No symbol) [0x00007FF7DA026634]
	Microsoft::Applications::Events::ILogManager::DispatchEventBroadcast [0x00007FF7DA448D29+1207369]
	(No symbol) [0x00007FF7DA0A5304]
	Microsoft::Applications::Events::EventProperty::~EventProperty [0x00007FF7DA1690E1+32273]
	Microsoft::Applications::Events::EventProperty::~EventProperty [0x00007FF7DA1619D9+1801]
	Microsoft::Applications::Events::ILogManager::DispatchEventBroadcast [0x00007FF7DA447904+1202212]
	Microsoft::Applications::Events::ILogConfiguration::operator* [0x00007FF7DA21E958+19784]
	Microsoft::Applications::Events::ILogConfiguration::operator* [0x00007FF7DA21AE14+4612]
	Microsoft::Applications::Events::ILogConfiguration::operator* [0x00007FF7DA21AF46+4918]
	Microsoft::Applications::Events::EventProperty::~EventProperty [0x00007FF7DA20F411+713025]
	BaseThreadInitThunk [0x00007FFF396826AD+29]
	RtlUserThreadStart [0x00007FFF3A94AA68+40]

#Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame

In [65]:
driver = webdriver.Edge()

In [66]:
#Opening the required page on automated browser.
driver.get('https://www.jagranjosh.com/')

In [67]:
#clicking on GK option
gk_search=driver.find_element(By.XPATH,"/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a")
gk_search.click()

In [68]:
#clicking on all PM option
pm_search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
pm_search.click()

In [78]:
pm_name=[]
born_dead=[]
term_office=[]
remarks=[]

In [79]:
#scraping pm names title from the given page
names=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]')
for i in names[0:19]:
    pm_name.append(i.text)
    
#scraping born-dead from the given page
bn_dd=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]')
for i in bn_dd:
    born_dead.append(i.text)

#scraping term of office from the given page
term_ofc=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]')
for i in term_ofc:
    term_office.append(i.text)

#scraping remarks from the given page
remark=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]')
for i in remark:
    remarks.append(i.text)

In [80]:
print(len(pm_name),len(born_dead),len(term_office),len(remarks))

19 19 19 19

In [81]:
#creating dataframe
df9=pd.DataFrame({'PM_Name':pm_name,'Born-Dead':born_dead,'remarks':remarks})
df9

,PM_Name,Born-Dead,remarks
0,Jawahar Lal Nehru,(1889–1964),The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),-
4,Indira Gandhi,(1917–1984),First female Prime Minister of India
5,Morarji Desai,(1896–1995),Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),------
15,Atal Bihari Vajpayee,(1924-2018),The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),First Sikh PM
17,Narendra Modi,(born 1950),4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),First non-congress PM with two consecutive ten...

#Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [82]:
driver = webdriver.Edge()

In [83]:
#Opening the required page on automated browser.
driver.get('https://www.motor1.com/')

In [85]:
#Entering to be searched as required in the Question.
product=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input")
product.send_keys('50 most expensive cars')

In [86]:
#clicking on search option
car_search=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
car_search.click()

In [87]:
#clicking on '50 most expensive cars in the world' option
exp_car=driver.find_element(By.XPATH,"/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a")
exp_car.click()

In [88]:
car_name=[]
car_price=[]

In [89]:
#scraping car names from the given page
cnames=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in cnames:
    car_name.append(i.text)
car_name    
#scraping car price from the given page
#cprice=driver.find_elements(By.XPATH,'')
#for i in cprice:
 #   car_price.append(i.text)
    
#not able to extract car price as the path by class name not able to find.

['Aston Martin Valour',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'Ferrari Daytona SP3',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Zenvo Aurora',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Pininfarina B95 Speedster',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 '777 Hypercar',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Rolls-Royce La Rose Noire Droptail',
 'Most Expensive Cars In The World']